/* >>>>>>>>>>PAGE LAYOUT START>>>>>>>>>> */
/* pg-lyt-body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

/* ||pg-lyt-container|| */
#pg-lyt-container {
    min-height: 100%;
    position: relative;
    background-color: lightgray;
}

/* |||pg-lyt-header||| */
#pg-lyt-header {
    padding: 10px;
}

/* |||pg-lyt-body||| */
#pg-lyt-body {
    padding: 10px;
    padding-bottom: 60px;
}

/* |||pg-lyt-footer||| */
#pg-lyt-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    background-color: lightgray;
    text-align: center;
}
/* <<<<<<<<<<PAGE LAYOUT END<<<<<<<<<< */

#hr-footer {
    display: block;
    border: 3px solid black;
    border-radius: 2px 8px 15px 4px;
}

.td-r-align {
    text-align: right;
}

/* Setup striped color for table */
/* Ref: https://stackoverflow.com/questions/20825211/bootstrap-table-striped-how-do-i-change-the-stripe-background-colour */
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: gray;
}

.table-striped > tbody > tr:nth-child(2n) > td {
    background-color: white;
}

/* Setup hover color for table */
/* Ref: https://stackoverflow.com/questions/15643037/how-do-i-change-the-hover-over-color-for-a-hover-over-table-in-bootstrap */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: powderblue;
}